@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap');

div.title {
  display: flex;
  justify-content: center;
  font-size: larger;
}

div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.player-name,
.score-board {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  min-height: 100px;
  font-size: 12pt;
}

.player-name {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 16pt;
  border: 1px solid black;
  border-bottom: none;
  padding: 9px;
}

.score-board {
  margin-bottom: 30px;
}

.frame {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.frame:last-child {
  flex: 3;
}

.frame-number {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
  background: rgb(103, 206, 183);
}

.frame-score {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.running-score {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.frame:last-child .frame-score {
  border-right: 1px solid black;
}

.frame:last-child .running-score {
  border-right: 1px solid black;
}

.frame1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.cumulative {
  display: none;
}

.frame:last-child div.cumulative {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.frame:last-child div.left {
  border-bottom: 1px solid black;
}

.frame-score div.right {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div.controls {
  display: flex;
  justify-content: center;
}

div.button-area {
  display: flex;
  justify-content: center;
}
.controls-left {
  display: flex;
  margin-bottom: 20px;
}

.roll {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid rgb(42, 42, 71);
  background: rgb(224, 255, 243);
  font-size: 1em;
}

.roll:hover {
  background: rgb(156, 235, 235);
}
.roll:active {
  background: lightskyblue;
}

.reset {
  border-radius: 3%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
}